@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light,
    dark --prefersdark,
    cupcake,
    forest,
    garden,
    emerald,
    dim --default;
}
@custom-variant dark (&:where([data-theme=dim], [data-theme=dim] *));
@custom-variant light (&:where([data-theme=emerald], [data-theme=emerald] *));
@plugin "daisyui/theme" {
  name: 'emerald';
  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --color-primary: #6e8c6d;
}
@plugin "daisyui/theme" {
  name: 'dim';
  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --color-primary: #9bc085;
}
@theme {
  --font-sans: Trirong, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Kantumruy Pro;
  --font-serif: ui-serif, Kantumruy Pro, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1100px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* ... */
}
